[submodule "extern/filecoin-ffi"]
	path = extern/filecoin-ffi
	url = https://github.com/filecoin-project/filecoin-ffi.git
[submodule "extern/bellperson"]
	path = extern/bellperson
	url = https://github.com/filecoin-project/bellperson.git
